<div class="container">
  <h1>Country searcher</h1>
  <hr/>

  <div class="row">

    <div class="col-md-5" outside-click="main.doHideList()">
      <input type="text" ng-model="main.search" ng-focus="main.doShowList()" class="form-control" />
      <span>{{search}}</span>

      <div class="suggest-list-wrap">
        <table ng-show="main.showList && !!main.search" class="country-table suggest-list">
          <tr ng-repeat="country in main.countryList | filter: main.doSearch" ng-click="main.chooseCountry(country);main.doHideList();">
            <td>
              <div>
                <div class="country-name">{{country.name.official}}</div>
                <div class="country-capital">{{country.capital}}</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div class="col-md-7">
      
      <div ng-show="!main.choosed">
        <span class="hint">Choose a country</span>
      </div>
      
      <div ng-show="!!main.choosed">

        <table class="table">
          <tr>
            <td>Country:</td>
            <td>{{main.choosed.name.official}}</td>
          </tr>

          <tr>
            <td>Capital:</td>
            <td>{{main.choosed.capital}}</td>
          </tr>

          <tr>
            <td>Area:</td>
            <td>{{main.choosed.area}}</td>
          </tr>

          <tr>
            <td>Region:</td>
            <td>{{main.choosed.region}}</td>
          </tr>
          
          <tr>
            <td>Borders:</td>
            <td>
              <table class="country-table">
                <tr ng-repeat="bordered in main.getChoosedBordered()" ng-click="main.choosed=bordered">
                  <td>
                    <div class="country-name">{{bordered.name.official}}</div>
                    <div class="country-capital">{{bordered.capital}}</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>
        
      </div>
    </div>
  </div>
</div>