// bower:less
// endbower

@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}


.container {
    padding: 50px 15px;
}

.hint {
    color: #CCCCCC;
    font-style: italic;
}

.suggest-list-wrap {
  position: relative;
  width: 100%;
}
.suggest-list {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    width: 100%;

    position: absolute;
}

.country-table {
    width: 100%;

    td {
        padding: 5px 5px;

    }
    td:hover {
        background: #EEEEEE;
    }

    .country-name {
        font-weight: bold;
    }
    .country-capital {
        color: #777777;
        font-style: italic;
    }
}



// injector
// endinjector
